{% assign published_at = article.published_at | date: format: 'month_date_year' %}

<div class="blogBlock">
	<div class="blogBlock__summary">
		<p>Posted on {{ published_at }}</p>
		<h2>{{ article.title }}</h2>
		<p>{{ article.excerpt_or_content | strip_html | truncate: 600 }}</p>
		<h4 class="button-like primary"><a href="{{ article.url }}">Read More</a></h4>
	</div>
	<div class="blogBlock__image">
		{% if article.image %}
		{% include 'product-image-srcset',
			 sizes: '(max-width: 860px) 100vw, 100vw'
			 image: article.image %}
		{% endif %}
	</div>
</div>
