<div class="contact__form">

	{% form 'contact' %}

		<h2 class="form__title">Custom Order Inquiry</h2>
		{% if form.posted_successfully? %}
			<h3 class="form__feedback">{{ 'contact.form.post_success' | t }}</h3>
		{% elsif form.errors %}
			<h3 class="form__feedback">{{ 'general.forms.post_error' | t }}</h3>
		{% endif %}
		<div class="form__field contact__name">
			<label>Name</label>
			<input type="text" name="contact[name]" placeholder="">
		</div>

		<div class="form__field contact__email">
			<label>Email</label>
			<input type="email" name="contact[email]" placeholder="">
		</div>

		<div class="form__field contact__telephone">
			<label>Phone Number</label>
			<input type="tel" name="contact[phone]" placeholder="">
		</div>

		<div class="form__field contact__message">
			<label>Message</label>
			<textarea type="text" name="contact[body]" placeholder=""></textarea>
		</div>

		<p class="contact__alternatively">Alternatively, contact <a href="mailto:floriana@spinellikilcollin.com">floriana@spinellikilcollin.com</a> for inquiries.</p>
		<button class="dark primary" type="submit"><h4>Send</h4></button>
	{% endform %}
</div>
