{% assign slug = 'homepage_featured_' | append:item %}
{% assign product = all_products[settings[slug]] %}
{% assign alt_image_slug = 'homepage_featured_' | append:item | append:'_alt_image' %}
{% if settings[alt_image_slug] == nil %}
	{% assign image = product.featured_image %}
{% else %}
	{% assign image = settings[alt_image_slug] %}
{% endif %}
{% assign alt_caption_slug = 'homepage_featured_' | append:item | append:'_caption'%}

{% assign disable_slug = 'homepage_featured_' | append:item | append:'_disable_caption'%}
{% assign disable_caption = settings[disable_slug] %}
{% assign arr = url | split: '/' %}
{% assign type = arr[1] %}

{% if settings[alt_caption_slug] == blank %}
	{% assign caption = product.title %}
{% else %}
	{% assign caption = settings[alt_caption_slug] %}
{% endif %}



{% assign video_slug = 'homepage_featured_' | append:item | append:'_video' %}
{% if settings[video_slug] == nil or settings[video_slug] == '' %}
	{% assign video = false %}
{% else %}
	{% assign video = settings[video_slug] %}
{% endif %}

{% assign audio_slug = 'homepage_featured_' | append:item | append:'_audio_enabled' %}
{% if settings[audio_slug] == true %}
	{% assign audio = true %}
{% else %}
	{% assign audio = false %}
{% endif %}

{% assign alt_url_slug = 'homepage_featured_' | append:item | append:'_alt_url'%}
{% if settings[alt_url_slug] == blank %}
	{% assign url = product.url %}
{% else %}
	{% assign url = settings[alt_url_slug] %}
{% endif %}


<div class="featured__item featured__item--single watch-in-view" data-type="{{url}}">
	<div class="featured__inner">
		<div class="featured__image-frame">
			{% if video != false %}
				<div class="featured__video">
					{% include 'video' with video, audio: audio, background: true, autoplay: true, linkTo: url %}
				</div>
			{% else %}
				{% include 'product-image-srcset' with image, preload: true, linkTo: url %}
			{% endif %}
		</div>
		{% if caption != blank %}
			<div class="featured__caption {% if disable_caption == true %}mobile--disabled{% endif %}">
				<h1>
					<a href="{{ url }}">{{ caption }}</a>
				</h1>
			</div>
		{% endif %}
	</div>
</div>

