<!-- <div id="newsletter-overlay" class="overlay">
	<div class="overlay__background overlay-close"></div>
	<div class="overlay__content">
		{% if settings.popup-image_enabled %}
			<img src="{{ 'popup-image' | asset_url }}" alt="Join our Mailing List">
		{% endif %}
		<span class="overlay__ex overlay-close"></span>
		<div class="overlay__inner">
			<h3>Join our Mailing List</h3>
			<h4>Sign up to receive our email updates</h4>
			<form action="{{ settings.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
				<input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email Address">
				<button type="submit" class="primary">Join</button>
			</form>
		</div>

	</div>
</div> -->
<div id="newsletter-overlay" class="overlay-container">
	<div class="overlay-click"></div>
	<div class="modal-container">
		<span class="close hairline"></span>

		<form action="https://formkeep.com/f/ba941bffdcfe" method="post" id="theForm" name="shopify" class="simform" autocomplete="off">
			<input type="hidden" name="utf8" value="✓">
			<div class="simform-inner">
				<ol class="questions">
					<li class="current">
						<span><label for="EMAIL" >Never miss an update. Sign up to subscribe!</label></span>
						<input id="mce-EMAIL" name="EMAIL" type="email"/>
					</li>
				</ol><!-- /questions -->
				<!-- <button class="submit" type="submit">Send answers</button> -->
				<div class="controls">
					<button class="next" type="submit">Submit</button>
					<div class="progress"></div>
					<span class="number">
						<span class="number-current"></span>
						<span class="number-total"></span>
					</span>
					<span class="error-message"></span>
				</div><!-- / controls -->
			</div><!-- /simform-inner -->
				<span class="final-message">Thanks!</span>
		</form><!-- /simform -->
</div>

</div>
