<div id="newsletter-overlay" class="overlay">
	<div class="overlay__background overlay-close"></div>
	<div class="overlay__content">
		{% if settings.popup-image_enabled %}
			<img src="{{ 'popup-image' | asset_url }}" alt="Join our Mailing List">
		{% endif %}
		<span class="overlay__ex overlay-close"></span>
		<div class="overlay__inner">
			<form action="{{ settings.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate simform" target="_blank">
				<div class="simform-inner">
					<ol class="questions">
						<li>
							<span><label for="q1" >Never miss an update. Sign up to subscribe!</label></span>
							<input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email Address">
						</li>
					</ol>
					<div class="controls">
							<button type="submit" class="primary next">Join</button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
			</div>
			</form>
		</div>

	</div>
</div>
