{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
	{% assign found_a_collection = false %}
	{% for c in product.collections %}
		{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
			{% assign found_a_collection = true %}
			{% assign collection = c %}
		{% endif %}
	{% endfor %}
{% endif %}

<div class="related">
	<h2>More in this collection</h2>
	<div class="related__items carousel">
		<div class="carousel__frame">
			<div class="carousel__slides">
				{% for item in collection.products limit: 24 %}
					<a href="{{ item.url }}">
						<div class="carousel__slide slide">
							<img src="{{ item.featured_image | product_img_url: 'large' }}" alt="" class="related__image">
							<h4>{{ item.title }}</h4>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
		<i class="carousel__button carousel__button--previous icon-angle-down" data-action="previous"></i>
		<i class="carousel__button carousel__button--next icon-angle-down" data-action="next"></i>
	</div>
</div>
