<section id="customer-login" class="customer-login">

	<div class="customer__form customer__login-form">
		<h2 class="form__title">Login</h2>
		{% form 'customer_login' %}
		{{ form.errors | default_errors }}
		<div class="form__field">
			<label for="customer_email"><h4>Email Address</h4></label>
			<input type="email" name="customer[email]" id="customer_email">
		</div>
		{% if form.password_needed %}
			<div class="form__field">
				<label for="customer_password"><h4>Password</h4></label>
				<input type="password" name="customer[password]" id="customer_password">
			</div>
		{% endif %}
		<button type="submit" class="primary">Login</button>
		<p class="help"><a href="#" onclick="showRecoverPasswordForm();">Forgot your password?</a></p>
		{% endform %}
	</div>


	<div class="customer__form customer__recover-form">
		<h2 class="form__title">Reset your password</h2>

		{% form 'recover_customer_password' %}
		{{ form.errors | default_errors }}
		<div class="form__field">
			<label for="recover_email">
				<h4>Email Address</h4>
			</label>
			<input type="email" name="email" id="recover-email">
		</div>
		<p>We'll send a recovery link to your email address.</p>
		<button class="primary" type="submit">Submit</button>
		{% endform %}
	</div>



	<div class="customer__form customer__create-form">
		<h2 class="form__title">Create Account</h2>
		{% form 'create_customer' %}
		{{ form.errors | default_errors }}

		<div class="form__field">
			<label for="first_name">
				<h4>First Name</h4>
			</label>
			<input id="first_name" name="customer[first_name]">
		</div>
		<div class="form__field">
			<label for="last_name">
				<h4>Last Name</h4>
			</label>
			<input id="last_name" name="customer[last_name]">
		</div>
		<div class="form__field">
			<label for="email">
				<h4>Email Address</h4>
			</label>
			<input id="email" type="email" name="customer[email]">
		</div>
		<div class="form__field">
			<label for="password">
				<h4>Password</h4>
			</label>
			<input id="password" type="password" name="customer[password]">
		</div>
		<button
			class="primary"
			type="submit"
			data-sitekey="6LeqD1UUAAAAAGRemNP9WARBLdSG2aQtSXDaf_z2"
			data-callback="handleRegistrationCaptcha">
		
			Submit
		</button>
		{% endform %}
	</div>


</section>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('customer-login').classList.add('show-recover');
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
