{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% layout settings.customer_layout %}
<div id="customer-wrapper" class="desktop-12 mobile-3">

<div id="template">
    <div class="template_header">
      <h2 class="title"><ly-as-2929762>Reset Account Password</ly-as-2929762></h2>
      <p class="note"><ly-as-2929763>Enter a new password for</ly-as-2929763> {{ email }}</p>
    </div>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="password" class="clearfix large_form">
        <label class="large" for="password"><ly-as-2929764>Password</ly-as-2929764></label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="clearfix large_form">
        <label class="large" for="password_confirmation"><ly-as-2929765>Password Confirmation</ly-as-2929765></label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>
      <div class="action_bottom">
        <input class="secondary button" type="submit" value="<ly-as-2929766>Reset Password</ly-as-2929766>" />
      </div>
    {% endform %}
</div>
</div>
