section.collection {
  padding-bottom: 3rem;
}

.collection__hero {
  width: 100%;
  position: relative;
  padding-bottom: calc(33% - 1rem);
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.collection__description {
  color: $grey2;
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 65rem;
  font-size: 1.2rem;

  h1, h2, h3, h4, h5, p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
  }
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid__item {
  text-align: center;
  flex-basis: calc(33% - 1rem);
  margin-bottom: 2rem;
  position: relative;
}

.grid__image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.result__caption,
.grid__caption {
  color: $grey3;
  text-align: center;
  padding: 1rem;
}

.pagination {
  margin: 3rem auto;
  text-align: center;
  color: $grey2;
}

.pagination__count {
  text-transform: uppercase;
}

.pagination__link {
  margin-top: 1rem;

  & + .pagination__link:before {
    content: " ";
    margin-left: 1.5em;
  }
}

@media screen and (max-width: $break-large) {
  .grid__item {
    flex-basis: calc(50% - 1rem);
  }
}

@media screen and (max-width: $break-medium) {
  .grid__item {
    flex-basis: 100%;
  }
}
