@font-face {
  font-family: 'Leitura News Roman';
  src:  url('LeituraNewsRoman.eot');
  src:  url('LeituraNewsRoman.eot#iefix') format('embedded-opentype'),
      url('LeituraNewsRoman.woff2') format('woff2'),
      url('LeituraNewsRoman.woff') format('woff'),
      url('LeituraNewsRoman.ttf') format('truetype');
}
