.featured__item .featured__caption {
	position: absolute;
	top: initial;
	bottom: -4rem;
	opacity: 0;
	color: $grey3;
	pointer-events: initial;
	padding: 1rem;
	opacity: 0;
	display: block;
	transition: .4s;
	transition-delay: .3s;
}

.featured__item.in-view,
.featured__item:hover {
	.featured__caption {
		opacity: 1;
		bottom: 0;
	}
}

.slider .featured__caption {
	display: block;
}

.slider__anchor {
	pointer-events: none;
}

.slider__item {
	position: relative;
}

.slider__item,
.featured__item:nth-of-type(n) {
	padding-bottom: 0;

	.featured__inner {
		padding-bottom: 0;
	}
}

.slider__item-alt {
	.slider__overlay {
		mask-image: none;
	}
	.slide__image {
		clip-path: none;
	}
}

.slider .slider__image-container,
.featured__image-frame {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding-bottom: 70%;
	overflow: hidden;
}
