.featured__item .featured__caption {
	position: absolute;
	top: initial;
	bottom: -4rem;
	opacity: 0;
	color: $grey3;
	pointer-events: initial;
	padding: 1rem;
	opacity: 0;
	display: block;
	transition: .4s;
	transition-delay: .3s;
}

.featured__item.in-view,
.featured__item:hover {
	.featured__caption {
		opacity: 1;
		bottom: 0;
	}
}

.featured__item:hover .featured__caption {
	transition-delay: 0s;
}
