
.featured-items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.featured__item {
	margin-bottom: 2rem;
	flex-basis: calc(50% - 1rem);
}


/*
	Featured Products
 */

.slider.featured__item {
	flex-basis: 100%;
	width: 100%;

	.featured__caption {
		display: none;
	}
}


.featured__item {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.featured__inner {
	position: relative;
}

.featured__image-frame {
	@mixin abs-full-size;
	overflow: hidden;
}

.featured__item:nth-of-type(4n + 2),
.featured__item:nth-of-type(4n + 3) {
	.featured__inner {
		padding-bottom: 66%
	}
}

.featured__item:nth-of-type(4n + 4),
.featured__item:nth-of-type(4n + 5) {
	.featured__inner {
		padding-bottom: 100%
	}
}

.featured__item .featured__caption {
	@mixin abs-full-size;
	@mixin flex-center;
	z-index: 10;
	color: white;
	opacity: 0;
	background-color: rgba(171, 144, 126, 0.45);
	padding: 3rem;
	transition: .4s ease-out;
	-webkit-font-smoothing: antialiased;
}

.featured__item:hover .featured__caption {
	opacity: 1;
}


@media screen and (max-width: $break-medium) {
	.featured__item {
		flex-basis: 100%;
	}

	.featured__item--slider {
		flex-basis: 100%;
		.featured__inner {
			padding-bottom: 66%;
		}
	}

	.featured__item:nth-of-type(4n + 2),
	.featured__item:nth-of-type(4n + 3) {
		.featured__inner {
			padding-bottom: 66%
		}
	}

	.featured__item:nth-of-type(4n + 4),
	.featured__item:nth-of-type(4n + 5) {
		.featured__inner {
			padding-bottom: 100%
		}
	}
}

.hasTouchEvents {
	@import "index-touchAndSmall"
}

@media screen and (max-width: $break-small) {
	.featured__caption h1 {
		font-size: 2.4rem;
	}
	@import "index-touchAndSmall"
}
