
@import "reset";
@import "mixins";


/*
// :::Site Variables
//-------------------------------------------------- */

$break-xl: 1220px;
$break-large: 990px;
$break-medium-min: 861px;
$break-medium: 860px;
$break-small: 550px;
$break-vsmall: 360px;

$grey1: rgb(241, 241, 241);
$grey2: rgb(119, 119, 119);
$grey3: rgb(75, 75, 75);
$grey3: rgb(75, 75, 75);
$grey4: rgb(33, 33, 33);

.grey3 { color: $grey3; }

@import "type";
@import "icons";
@import "ui";

/*
// :::Global Components
//-------------------------------------------------- */

html,
body {
	height: 100%;
	position: relative;
	background-color: white;
}

html.menu-open, html.menu-open body {
	overflow: hidden;
}

.column {
	width: calc(100% - 4rem);
	max-width: 120rem;
	margin: 0 auto;
}

.column--narrow {
	@extend .column;
	max-width: 70rem;
}

.lazy-src {
	opacity: 0;
	transition: .3s;

	&.loaded {
		opacity: 1;
	}
}

body {
	overflow-x: hidden;
}

.main-content {
	padding: 0 3rem 10rem;
}

@media screen and (max-width: $break-medium) {
	.column {
		max-width: 48rem;
	}
	.main-content {
		padding: 0 0rem 10rem;
	}
}

/*
// :::Specific to component or section
//-------------------------------------------------- */

@import "header";
@import "cart";
@import "footer";
@import "index";
@import "collection";
@import "image-zoom";
@import "product";
@import "custom";
@import "blogs";
@import "pages";
@import "overlay";
@import "customer";
@import "search";

section.four-oh-four {
	text-align: center;
}

/*
// :::Debug
//-------------------------------------------------- */
