@import 'reset';
@import 'mixins';

/*
// :::Site Variables
//-------------------------------------------------- */

$break-xl: 1220px;
$break-large-min: 991px;
$break-large: 990px;
$break-medium-min: 861px;
$break-medium: 860px;
$break-small: 550px;
$break-vsmall: 360px;

$grey1: rgb(241, 241, 241);
$grey1half: rgb(184, 184, 184);
$grey2: rgb(119, 119, 119);
$grey3: rgb(75, 75, 75);
$grey3: rgb(75, 75, 75);
$grey4: rgb(33, 33, 33);

.grey3 {
	color: $grey3;
}

@import 'type';
@import 'icons';
@import 'ui';
@import 'image-blur';
@import 'video';

/*
// :::Global Components
//-------------------------------------------------- */

html,
body {
	height: 100%;
	position: relative;
	background-color: white;
}

html.menu-open,
html.menu-open body {
	overflow: hidden;
}

.column {
	width: calc(100% - 4rem);
	max-width: 120rem;
	margin: 0 auto;
}

.column--narrow {
	@extend .column;
	max-width: 70rem;
}

.lazy-src {
	opacity: 0;
	transition: 0.3s;

	&.loaded {
		opacity: 1;
	}
}

body {
	overflow-x: hidden;
}

.main-content {
	padding: 0 3rem 10rem;
}

@media screen and (max-width: $break-medium) {
	.column {
		max-width: 48rem;
	}
	.main-content {
		padding: 0 0rem 10rem;
	}
}

.bar {
	display: inline-block;
	width: 14.5rem;
	height: 1px;
	background-color: black;
	position: relative;

	&:before,
	&:after {
		content: '';
		background-color: inherit;
		position: absolute;
		width: 3px;
		height: 3px;
		top: -1px;
		border-radius: 3px;
	}

	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}
}

/*
// :::Specific to component or section
//-------------------------------------------------- */

@import 'header';
@import 'cart';
@import 'footer';
@import 'index';
@import 'collection';
@import 'image-zoom';
@import 'product';
@import 'custom';
@import 'blogs';
@import 'pages';
@import 'overlay';
@import 'customer';
@import 'search';
@import 'signup';

section.four-oh-four {
	text-align: center;
	padding: 5rem 0;
}

#bp-medium,
#bp-small {
	display: none;
}

@media screen and (max-width: $break-medium) {
	#bp-medium {
		position: fixed;
		top: -100px;
		left: -100px;
		display: initial;
	}
}

@media screen and (max-width: $break-small) {
	#bp-small {
		position: fixed;
		top: -100px;
		left: -100px;
		display: initial;
	}
}
/*
// :::Debug
//-------------------------------------------------- */
