<section class="blog blog--{{ blog.handle }}">
	{% paginate blog.articles by 24 %}
	{% if blog.handle == 'press' %}

		{% for article in blog.articles  %}
		{% include 'article-loop-press' %}
		{% endfor %}

	{% else %}

		{% for article in blog.articles  %}
		{% include 'article-loop' %}
		{% endfor %}

	{% endif %}
	{% include 'pagination' %}
	{% endpaginate %}
</section>
