{% paginate collection.products by 48 %}
<section class="collection">
  {% if collection.image != blank %}
    <div class="collection__hero">
      {% include 'product-image-srcset' with
      image: collection.image,
      sizes: '(max-width: 990px) 200vw, (max-width: 860px) 300vw, 100vw'
      preload: true %}

    </div>
  {% endif %}
  {% if collection.description != blank %}
    <div class="collection__description">
      {{ collection.description }}
    </div>
  {% endif %}

  <div class="grid">
    {% for product in collection.products %}
      {% include 'product-grid-item' with products_per_row %}
    {% else %}
      <p>There are no products in this view.</p>
    {% endfor %}
  </div>

{% include 'pagination' %}

</section>

{% endpaginate %}
