{% paginate collection.products by 48 %}
<section class="collection">
  {% if collection.description != blank %}
    <p class="collection__description">
      {{ collection.description }}
    </p>
  {% endif %}

  <div class="grid">
    {% for product in collection.products %}
      {% include 'product-grid-item' with products_per_row %}
    {% else %}
      <p>There are no products in this view.</p>
    {% endfor %}
  </div>

{% include 'pagination' %}

</section>

{% endpaginate %}
