
<section class="featured-items">
  {% if settings.homepage_combine_12 == true and settings.homepage_featured_1_activated == true and settings.homepage_featured_2_activated == true %}
    {% include 'featured-slider', item_one: '1', item_two: '2' %}
  {% else %}
    {% if settings.homepage_featured_1_activated == true %}
      {% include 'featured-single', item: '1' %}
    {% endif %}
    {% if settings.homepage_featured_2_activated == true %}
      {% include 'featured-single', item: '2' %}
    {% endif %}
  {% endif %}

  {% if settings.homepage_combine_34 == true and settings.homepage_featured_3_activated == true and settings.homepage_featured_4_activated == true %}
    {% include 'featured-slider', item_one: '3', item_two: '4' %}
  {% else %}
    {% if settings.homepage_featured_3_activated == true %}
      {% include 'featured-single', item: '3' %}
    {% endif %}
    {% if settings.homepage_featured_4_activated == true %}
      {% include 'featured-single', item: '4' %}
    {% endif %}
  {% endif %}

  {% if settings.homepage_combine_56 == true and settings.homepage_featured_5_activated == true and settings.homepage_featured_6_activated == true %}
    {% include 'featured-slider', item_one: '5', item_two: '6' %}
  {% else %}
    {% if settings.homepage_featured_5_activated == true %}
      {% include 'featured-single', item: '5' %}
    {% endif %}
    {% if settings.homepage_featured_6_activated == true %}
      {% include 'featured-single', item: '6' %}
    {% endif %}
  {% endif %}
</section>

<section class="featured-items">
  {% for i in (1..6) %}
    {% assign page_slug = 'homepage_block_' | append: i %}
    {% assign page_activated = page_slug | append: '_activated'%}
    {% if settings[page_activated] == true %}
      {% include 'featured-page', item: i %}
    {% endif %}
  {% endfor %}
</section>
