{% assign image = 'custom-hero.jpg' %}

<section class="page page--custom">
	<div class="heros">
		{% include 'product-image-srcset',
			image: 'custom-hero.jpg',
			asset: true,
			class: "hero hero--desktop" %}
		{% include 'product-image-srcset',
			image: 'custom-hero_mobile.jpg',
			asset: true,
			class: "hero hero--mobile" %}
	</div>
	{% include 'contact-form' %}
</section>
