{% assign image = 'custom-hero.jpg' %}

<section class="page page--custom">
	<div class="heros">
		{% include 'product-image-srcset',
			image: 'custom-hero.jpg',
			asset: true,
			class: "hero hero--desktop" %}
		{% include 'product-image-srcset',
			image: 'custom-hero_mobile.jpg',
			asset: true,
			class: "hero hero--mobile" %}
	</div>
	{% include 'contact-form' %}
	<p class="help-text">Custom orders are final sale and may not be returned for refund.  If you would like to adjust your custom order, it may be exchanged for store credit up to 14 days after receipt.</p>
</section>
