<section class="page article page--{{ page.handle }}">
	<div class="column--narrow">
		<h2 class="title">{{ page.title }}</h2>
		<div class="article__body rte">{{ page.content }}</div>
	</div>
</section>
