{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div id="page" class="desktop-12 tablet-6 mobile-3">
  <div id="page-content" class="custom-orders">
		<div class="heros">
			<img src="{{ 'custom-hero.jpg' | asset_url }}" alt="" class="hero hero--desktop">
			<img src="{{ 'custom-hero_mobile.jpg' | asset_url }}" alt="" class="hero hero--mobile">
		</div>
		<p>Alternatively, contact <a href="mailto:floriana@spinellikilcollin.com">floriana@spinellikilcollin.com</a> for inquiries.</p>
  	<div id="contact-form">
    	<h2><ly-as-2929629>Custom Order Inquiry</ly-as-2929629></h2>
			{% include 'contact' %}
    </div>
  </div>
</div>
